#Configuration info
[Project Info]
    Project = 20818

###SensorPowerUpInAdvance begin
[SensorPowerUpInAdvance]
    IsPowerUpinAdvance   = false

[OemGsiCamxSettings]
    disablePartialMetadata = TRUE

[DNGTag]
    UseUnityCalibrationMatrix = 1

###SensorPowerUpInAdvance end

[SupportedImageSizes]
    #                   width   height
    ImageSizes[0]   =   8000;   6000
    ImageSizes[1]   =   4624;   3468
    ImageSizes[2]   =   4624;   2600
    ImageSizes[3]   =   4624;   2080
    ImageSizes[4]   =   4208;   3120
    ImageSizes[5]   =   4160;   3120
    ImageSizes[6]   =   4160;   2336
    ImageSizes[7]   =   4160;   1872
    ImageSizes[8]   =   4000;   3000
    ImageSizes[9]   =   4000;   2256
    ImageSizes[10]  =   4000;   1800
    ImageSizes[11]  =   3840;   2160
    ImageSizes[12]  =   3472;   3472
    ImageSizes[13]  =   3264;   2448
    ImageSizes[14]  =   3264;   1836
    ImageSizes[15]  =   3264;   1472
    ImageSizes[16]  =   3200;   2400
    ImageSizes[17]  =   3120;   3120
    ImageSizes[18]  =   3000;   3000
    ImageSizes[19]  =   2592;   1944
    ImageSizes[20]  =   2448;   2448
    ImageSizes[21]  =   2304;   1728
    ImageSizes[22]  =   1920;   1440
    ImageSizes[23]  =   1920;   1080
    ImageSizes[24]  =   1600;   1200
    ImageSizes[25]  =   1600;   900
    ImageSizes[26]  =   1600;   800
    ImageSizes[27]  =   1600;   720
    ImageSizes[28]  =   1520;   720
    ImageSizes[29]  =   1440;   1080
    ImageSizes[30]  =   1280;   960
    ImageSizes[31]  =   1280;   768
    ImageSizes[32]  =   1280;   720
    ImageSizes[33]  =   1200;   1200
    ImageSizes[34]  =   1080;   1080
    ImageSizes[35]  =   1024;   768
    ImageSizes[36]  =   960;   960
    ImageSizes[37]  =   960;   720
    ImageSizes[38]  =   800;   600
    ImageSizes[39]  =   800;   480
    ImageSizes[40]  =   800;   400
    ImageSizes[41]  =   720;   720
    ImageSizes[42]  =   720;   480
    ImageSizes[43]  =   640;   480
    ImageSizes[44]  =   640;   400
    ImageSizes[45]  =   640;   360
    ImageSizes[46]  =   352;   288
    ImageSizes[47]  =   320;   240
    ImageSizes[48]  =   176;   144
